.fotogrup{
    margin-top: -90px;
    margin-right: 1500px;
}
.learnpage{
    font-size: 20px;
    width: 200px;
}
.background{
    background-color: pink;
    height: 200px;
    margin-top: -200px;
}
.coding > img{
    margin-left: -890px;
    width: 2500px;
    height: 600px;

}
.background1{
    display: inline-block;
    background-color:whitesmoke;
    margin-left: 900px;
    width: 450px;
    height: 450px;
    margin-top: -150px;
    margin-bottom: 350px;
    border-radius: 20px 20px 20px 20px;
}
h1.moving1{
    font-size: 31px;
    color: red;
    margin-top: -750px;
    margin-left: 900px;
}
p.lorem1{
    color: red;
  padding-left: 1000px;
  margin-left: 30px;
  padding-right: 100px;
  font-size: 25px;
  
}
.background2{
    color: white;
    text-align: center;
    background-color: blue;
    padding: 30px;
    display: inline-block;
    border-radius: 0 60px 0 0;
    color: white;
    text-align: center;
    margin-top: -800px;
    margin-bottom: 248px;
    height: 200px;
    padding-left: 600px;
    margin-left: -900px;
    width: 100px;
}
h1.moving2{
    margin: 20px;
    margin-top: -445px;
    padding: 10px;
    padding-left: 200px;
    color:black;
    margin-left: -1100px;
    font-size: 25PX;
}
p.lorem2{
    color: white;
  padding-left: 50px;
  font-size: 13px;
  margin-top: -20px;
  padding-right: 1000px;
  font-size: 15px;
}
.foto2{
    height: 400px;
    margin-left: 400px;
    margin-top: 200px;
}
.background3{
    background-color: whitesmoke;
  display: inline-block;
  border-radius: 0 60px 0 0;
  margin-top: -500px;
  margin-bottom: 250px;
  height: 350px;
  padding-left: 320px;
  margin-left: -300px;
  width: 600px;
  padding-bottom: 100px;
  border-radius: 20px 20px 20px 20px;
}
h1.about{
    margin-left: -300px;
  margin-top: -570px;
  color: rgb(49, 49, 138);
  font-size: 25px;
}
p.lorem3{
    margin-left: 400px;
  margin-right: 700px;
  font-size: 20px;
}
.background4{
  display: inline-block;
  background-color:whitesmoke;
  margin-top: 100px;
  margin-left: 900px;
  margin-right: 450px;
  height: 400px;
  width: 500px;
  border-radius: 20px;
}
h1.weare{
    margin-left: 800px;
  margin-top: -350px;
  color: rgb(58, 58, 164);
}
p.lorem4{
    margin-left: 900px;
  margin-right: 125px;
  font-size: 25px;
}
.background5{
    background-color: rgb(71, 71, 219);
  height: 700px;
  margin-top: 200px;
}
h1.services{
    margin-top: -600px;
    margin-left: -1000px;
    color: white;
}
.foto3{
    width: 300px;
    margin-left: 200px;
}
.background6{
    background-color: whitesmoke;
  margin-left: 200px;
  height: 200px;
  margin-right: 1000px;
  border-radius: 0px 0px 20px 20px;
  width: 385px;
}
h1.lorem5{
    margin-left: 200px;
    margin-right: 1100px;
  margin-top: -200px;
  color: rgb(62, 62, 170);
  font-size: 25px;

}
p.loremp1{
    margin-left: 230px;
  margin-right: 1000px;
  color: rgb(71, 71, 174);

}
.foto4 img{
  margin-top: -710px;
  margin-left: 150px;
}
.background7{
  background-color: whitesmoke;
  margin-left: 645px;
  height: 200px;
  margin-right: 1000px;
  border-radius: 0px 0px 20px 20px;
  width: 385px;
  margin-top: -220px;
  
}
h1.lorem6{
  margin-left: 650px;
    margin-right: 700px;
  margin-top: -200px;
  color: rgb(62, 62, 170);
  font-size: 25px; 
}
p.lorem7{
  margin-left: 670px;
  margin-right: 550px;
  color: blue;

}
    



